body {
  margin: 0;
  padding: 0;
  background-image: url("login.avif"); /* Replace with your image path */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.login-box {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
  width: 95%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #0056b3;
}

.mb-1 {
  display: flex;
  justify-content: center;
  color: rgb(247, 31, 2);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
}

.mb-0 {
  display: flex;
  justify-content: center;
  color: rgb(216, 1, 235);
  font-family: cursive;
  font-size: 30px;
  margin-top: -10px;
}

.forgot-password a {
  color: #0820f1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.forgot-password a:hover {
  text-decoration: underline;
}
.signup-button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.signup-button:hover {
  background-color: #0056b3;
}

.text-capitalize {
  color: rgb(247, 2, 2);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 35px;
}
